


block layout-content
  button#new-game-btn Add New Game
  div#form-popup
    form#form-container
      h1 New Joke
      input#setup(type="text", placeholder="setup", name="setup")
      input#delivery(type="text", placeholder="delivery", name="delivery")
      input#category_id(type="number", placeholder="Category", name="category_id")
      button#save-joke(type="submit") Save
      button#cancel-btn(type="button") Close