//- extends layout

block scripts
  script(src="/games-list.js" defer)

block append nav

block layout-content

  main.items-container
    each joke in randomJoke
      article.item
        div.text
          h3 #{joke.setup}
          p #{joke.delivery}
          